<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_229911372_ŞühedaYavuz_GörselProgramlama.Properties.Settings.AraçFabrikasıConnectionString"
            connectionString="Data Source=SUHEDAYAVUZ\SQLEXPRESS;Initial Catalog=AraçFabrikası;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>